<div class="col-md-4"></div>
    
    <div class="col-md-4">
      <section class="login-form">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:id => "new-form"}) do |f| %>
<%= image_tag("/assets/logo2.png") %>
  <%= render :partial => "/layouts/errors", :locals => {:resource => resource} %>

    <%= f.text_field :username, :placeholder => "Username", :autofocus => true, :class => "form-control input-lg" %>

    <%= f.text_field :first_name, :placeholder => "First Name", :class => "form-control input-lg" %>

    <%= f.text_field :last_name, :placeholder => "Last Name", :class => "form-control input-lg" %>

    <%= f.email_field :email, :placeholder => "E-Mail", :class => "form-control input-lg" %>

    <%= f.password_field :password, :placeholder => "Password", autocomplete: "off", :class => "form-control input-lg" %>

    <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation", autocomplete: "off", :class => "form-control input-lg" %>
    <%= f.text_field :phone, :placeholder => "Phone Number", :class => "form-control input-lg" %>

  <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Register</button>
  <%= link_to "Already have an account? Login", new_user_session_path %>
<% end %>
</section>
</div>
