<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Socialnator</title>

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
   <%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="/assets/html5shiv.js"></script>
<script src="/assets/respond.min.js"></script>
<![endif]-->

</head>

<body style="padding-top: 50px;">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span>SOCIALNATOR</span>Admin</a>
        <ul class="user-menu">
          <li class="dropdown pull-right">
          <%= link_to "Settings<span class='caret'></span>".html_safe, "#", :class => "dropdown-toggle pull-right", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu">
            <li><%= link_to "Dashboard", dashboards_path %></li>
            <li><%= link_to current_user.username.capitalize, "" %></li>
            <li><%= link_to "Signout", destroy_user_session_path, :method => :delete %></li>
          </ul>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  
  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <ul class="nav menu">
      <li class="<%= params[:controller] == 'dashboards' ? 'active' : ''%>"><a href="/dashboards"><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
      <li class="<%= params[:controller] == 'orders' ? 'active' : ''%>"><a href="/orders"><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Orders</a></li>
      <li class="<%= params[:controller] == 'payments' ? 'active' : ''%>"><a href="/payments"><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Paypal Transactions</a></li>
      <li class="<%= params[:controller] == 'customers' ? 'active' : ''%>"><a href="/customers"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg>Customers</a></li>
      <li class="<%= params[:controller] == 'news' ? 'active' : ''%>"><a href=""><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> News</a></li>
  </div>
        <%=yield%>
</body>

</html>
